<template>
    <div class="container" ref="canvas"></div>
</template>

<script>
    export default {
        name: 'Amplitude',

        data() {
            return {
                p5: null,
                script: null,
                canvas: {
                    width: 600,
                    height: 600
                }
            }
        },

        mounted() {
            const P5 = require('p5');
            this.script = (p) => {
                this.p5 = p;
                p.setup = this.setup();
                p.draw = this.draw();
            };

            new P5(this.script);
        },

        methods: {
            setup() {
                return () => {
                    this.canvas = this.p5.createCanvas(this.canvas.width, this.canvas.height);
                    this.canvas.parent(this.$refs.canvas);
                    this.p5.frameRate(60);
                    this.p5.noStroke();
                    mic.start();
                }
            },

            draw() {
                return () => {
                    this.drawSquare()
                };
            },

            drawSquare(){
                this.p5.background(0);
                this.p5.fill(255);
                this.p5.rect(20, 20, 50, 50);
            }
        }
    }
</script>