<template>
    <div class="container">
        <img src="@/assets/logo.png">
        <h1>Light Show Prototype</h1>

        <h2>Magic Stuff</h2>
        <ul>
            <li><router-link :to="'amplitude'">Amplitude</router-link></li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: 'Dashboard',

        data() {
            return {}
        }
    }
</script>

<style scoped>
    h1, h2 {
        font-weight: normal;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }
</style>
