<template>
    <div id="app">
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        name: 'App'
    }
</script>

<style>
    #app {
        color: #2c3e50;
        text-align: center;
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
    }

    .container {
        position: absolute;
        margin: auto;

        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        height: 75%;
    }
</style>
